/* GLOBAL  */
* {
    margin : 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

body {
    background-color: #FFEFEF;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.container {
    width: 1400px;
    margin: 0 auto;
}

/* SPECIFIC  */
nav {
    background-color: #7C99AC;
    padding: 30px 0;
    width: 100%;
    color: #fff;
}

nav .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

ul {
    display: flex;
    align-items: center;
}

li {
    margin: 0 10px;
}

.fa-shopping-cart {
    margin-left: 30px;
    font-size: 30px;
    cursor: pointer;
    transition: 0.3s;
    position: relative;
}

.circle-num {
    position: absolute;
    height: 20px;
    width: 20px;
    right: -10px;
    top: -10px;
    background-color: red;
    border-radius: 50%;
    font-size: 14px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.fa-shopping-cart:hover {
    color: #FFA900;
}

.hero-section-products {
    margin: 50px auto;
    width: 1400px;
    display: flex;
    gap: 30px;
    justify-content: center;
    flex-wrap: wrap;
}

.product {
    border: 1px solid #7C99AC;
    height: 400px;
    width: 300px;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 10px;
    background-color: #92A9BD;
}

.buttons-div {
    margin: 10px 0;
}

.buttons-div button{
    border: none;
    padding: 10px 20px;
    border-radius: 10px;
    background-color: #7C99AC;
    color: #fff;
    cursor: pointer;
    text-transform: uppercase;
    margin: 0 10px;
    transition: 0.3s;
}

.buttons-div button:hover {
    background-color: #FFA900;
}

.content-div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #fff;
    margin: 10px 0;
}

.content-div p {
    color: #ddd;
}

.product img {
    float: left;
    width:  250px;
    height: 250px;
    object-fit: cover;
    border-radius: 10px;
}

/* product view */
.product-view-section {
    margin: 50px auto;
    width: 1400px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    display: none;
}

.block-item {
    width: 50%;
}

.block-item img {
    float: left;
    width: 600px;
    height: 600px;
    object-fit: cover;
}

.back-btn {
    border: none;
    padding: 10px;
    border-radius: 10px;
    margin-top: 10px;
    text-transform: uppercase;
    background-color: #FFA900;
}

.back-btn a {
    color: #fff;
}

.buy-btn {
    border: none;
    padding: 10px;
    border-radius: 10px;
    margin-top: 10px;
    text-transform: uppercase;
    background-color: #7C99AC;
    color: #fff;
    cursor: pointer;
}

.quantity-input {
    margin: 10px 0;
    padding: 10px 20px;
    outline: none;
    border-radius: 10px;
    border: 1px solid #FFA900;
}

.title-product {
    font-size: 30px;
    text-transform: uppercase;
    color: #7C99AC;
}
